@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}
.font-comic {
  font-family: 'Comic Sans MS';
}
.color-secondary {
  color: #0ff;
}

.color-tertiary {
  color: #b0cdf1;
}

.button {
  padding: 0.5rem 0.75rem;
  transition: all 0.5s linear;
  border: 1px solid #0ff;
  color: #0ff;
  font-family: 'Comic Sans MS';
}
.button:hover {
  background-color: #0ff4;
  color: #fff;
}

.badge {
  padding: 0.1rem 0.5rem;
  transition: all 0.5s linear;
  border: 1px solid #0ff;
  margin-right: 1em;
  color: #0ff;
  font-family: 'Comic Sans MS';
  font-style: italic;
  font-size: 0.85rem;
  border-radius: 0.4rem;
}
.badge:hover {
  background-color: #0ff4;
  color: #fff;
}

.section-title {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  color: #b0cdf1;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(17, 24, 39, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10em;
}
