$medium: 900px;
.homeBody {
  display: flex;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  :global #home-me,
  :global #about-me,
  :global #projects,
  :global #other-projects,
  :global #contact-me {
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  :global #home-me {
    text-align: center;
  }
  :global #about-me {
    @media screen and (max-width: $medium) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  :global #projects {
    padding-top: 5rem;
    padding-bottom: 5rem;
    @media screen and (max-width: $medium) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  :global #other-projects {
    padding-top: 5rem;
    padding-bottom: 5rem;
    @media screen and (max-width: $medium) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  :global #contact-me {
    padding-left: 0;
    padding-right: 0;
  }
}
