$medium: 900px;
.intro {
  :global .one {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-family: 'Comic Sans MS';
    color: #0ff;
  }
  :global .two {
    @media (min-width: $medium) {
      font-size: 4.5rem;
    }
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1;
    font-weight: 500;
  }
  :global .three {
    @media (min-width: $medium) {
      font-size: 3rem;
    }
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1;
  }
  :global .four {
    @media (min-width: $medium) {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 300;
  }
}
