.leftLine {
  width: 0.1rem;
  height: 10rem /* 160px */;
  background-color: white;
  position: fixed;
  left: 3.5rem /* 56px */;
  bottom: 0px;

  :global .wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -0.6rem /* -20.8px */;
    top: -10em;
    background-color: black;
    gap: 1.5rem;
    a {
      cursor: pointer;
      transition: all 0.2s linear;
    }
    a:hover {
      transform: translate(0, -0.4rem);
      filter: brightness(0) saturate(100%) invert(79%) sepia(96%) saturate(468%)
        hue-rotate(103deg) brightness(102%) contrast(102%);
    }
  }
}

.rightLine {
  width: 0.1rem;
  height: 10rem /* 160px */;
  background-color: white;
  position: fixed;
  right: 3.5rem /* 56px */;
  bottom: 0px;

  a {
    transform: rotate(270deg);
    position: absolute;
    top: -8rem /* -128px */;
    right: -6rem /* -96px */;
    transition: all 0.2s linear;
    cursor: pointer;
  }
  a:hover {
    top: -8.5rem;
    color: #0ff;
  }
}
