.navbar {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  position: fixed;
  padding-right: 2.5rem /* 40px */;
  gap: 1.25rem /* 20px */;
  font-weight: 300;
  justify-content: flex-end;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  padding: 1.25rem /* 20px */;
  --tw-bg-opacity: 0.8;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  width: 100%;

  :global div {
    cursor: pointer;
    transition: all 0.2s linear;
  }
  :global div:hover {
    color: #0fff;
  }
  :global .resume-btn {
    padding: 0.25rem 0.75rem;
    transition: all 0.5s linear;
    border: 1px solid #0ff;
    color: #0ff;
    font-size: 1rem;
    font-family: 'Comic Sans MS';
  }
  :global .resume-btn:hover {
    background-color: #0ff4;
    color: #fff;
  }
}
