.container{
    display: flex;
    flex-direction: column;
    :global .entry{
        margin-bottom: 0.75rem;
        .title{
            margin-right:1rem;
            margin-bottom: 0.5rem;
        }
        .badge{
            margin-bottom: 0.2rem;
            margin-top: 0.2rem;
        }
    }
}